.background-color {
    position: relative;
}

.bg-1,
.bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.bg-1 {
    background-color: rgba(24, 25, 23, 0.851);
}

.bg-2 {
    background-color: rgba(83, 85, 79, 0.851);
}

h2 {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background: rgba(24, 25, 23, 0.851);

}

.container {
    background: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 600px;
    padding: 25px 40px 10px 40px;
}

.container h2 {
    color: rgb(215, 150, 70);
    font-size: 55px;
    font-family: Brandley Hand;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 3px;
    text-transform: capitalize;
}

.container form {
    padding: 30px 0 0 0 0;
}

.container form .form-row {
    display: contents;
    margin: 35px 0;
}
.mesaj{
    width: 30px;
    height: 20px;
}