*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.menu-bar{
    background:rgb(105, 172, 196);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li{
    width: 150px;
    margin: 12px;
    padding: 10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background:rgb(224, 198, 198);
    border-radius: 10px;
}